body {
    background-image: url('imagenes/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center; 
}
h1,{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
}

p {
    width: 80%; 
    margin: 0 auto; 
    line-height: 1.6; 
    text-align: justify; 
}

